<!DOCTYPE html>
<html lang="en">

<style>
.container {display: flex;justify-content: center; }

ul { position: absolute;  top: 100%;  margin-top: -1px;  width: 100%;  z-index: 1;  background: #fff;  margin: 0;  list-style: none;  transition: none;  padding: 0;  border: 1px solid #bfc8c9;}
ul li { padding: 6px 12px;  transition: 0.2s background;  cursor: pointer;}
ul li.selected { background: rgba(0, 0, 0, 0.08);}
ul li:hover {  background: #e6f0f2;}
ul li + li {  border-top: 1px solid #bfc8c9;}
.hidden {  display: none;}
</style>

<script>
var countries = [];
var inputElem = null;
var resultsElem = null;
var activeIndex = 0;
var filteredResults = [];
var JSON_Data;



//search?q=Тодор Хаджистанчев 22&limit=20&format=json&addressdetails=1&city=Варна&accept-language=bg-BG
async function fetchMAddress(q) {
	var url='http://127.0.0.1:8181/search?q='+q+'&limit=5&format=json&addressdetails=1&city=varna&accept-language=bg-BG'
 // const response = await fetch();
 const response = await fetch(url);

 	const json = await response.json();

	var df= await JSON.stringify(json);
 	//console.log(df);
	initggg(df);
}


function initggg(df)
{
	console.log(df);
	countries=JSON.parse(df);
}



function init() {
	
	
	
	
	//countries=fetchMAddress("Тодор Хаджистанчев 1");
	
	//console.log(countries);
	
/*	
  fetch("http://127.0.0.1:8181/search?q=varna&limit=5&format=json&addressdetails=1&city=varna")
    .then((response) => response.json())
    .then((data) => (countries = data));
*/
  resultsElem = document.querySelector("ul");
  inputElem = document.querySelector("input");

  resultsElem.addEventListener("click", (event) => {
    handleResultClick(event);
  });
  inputElem.addEventListener("input", (event) => {
    autocomplete(event);
  });
  inputElem.addEventListener("keyup", (event) => {
    handleResultKeyDown(event);
  });
}

function autocomplete(event) {
  const value = inputElem.value;
  	if (!value) {
    	hideResults();
    	inputElem.value = "";
    	return;
  	}
	
	fetchMAddress(value);
	
	var inner="";
	for(let index = 0; index < countries.length; index++) {
	    let obj = countries[index].address;
	
		let disp=obj.road;
		const isSelected = index === 0;
		inner+=`
		        <li
		          id='autocomplete-result-${index}'
		          class='autocomplete-result${isSelected ? " selected" : ""}'
		          role='option'
		          ${isSelected ? "aria-selected='true'" : ""}
		        >
		          ${disp}
		        </li>
		      `;
		
		
	}
	
	
	resultsElem.innerHTML =inner;
	
  filteredResults = countries.filter((country) => {
     
	console.log(country.place_id)
	
	return country.display_name;
	//return country.name.common.toLowerCase().startsWith(value.toLowerCase());
	//	 return "gg";// country.name.common.toLowerCase().startsWith(value.toLowerCase());
  });
  resultsElem.classList.remove("hidden");
  return;
  console.log( filteredResults);
  resultsElem.innerHTML = filteredResults
    .map((result, index) => {
      const isSelected = index === 0;
      return `
        <li
          id='autocomplete-result-${index}'
          class='autocomplete-result${isSelected ? " selected" : ""}'
          role='option'
          ${isSelected ? "aria-selected='true'" : ""}
        >
          ${result.display_name}
        </li>
      `;
    })
    .join("");
  resultsElem.classList.remove("hidden");
}

function handleResultClick() {
  if (event.target && event.target.nodeName === "LI") {
    selectItem(event.target);
  }
}
function handleResultKeyDown(event) {
  const { key } = event;
  const activeItem = this.getItemAt(activeIndex);
  if (activeItem) {
   activeItem.classList.remove('selected');
   activeItem.setAttribute('aria-selected', 'false');
  }
  switch (key) {
    case "Backspace":
      return;
    case "Escape":
      hideResults();
      inputElem.value = "";
      return;
    case "ArrowUp": {
      if (activeIndex === 0) {
        activeIndex = filteredResults.length - 1;
      }
      activeIndex--;
      break;
    }
    case "ArrowDown": {
      if (activeIndex === filteredResults.length - 1) {
        activeIndex = 0;
      }
      activeIndex++;
      break;
    }
    default:
      selectFirstResult();
  }
  console.log(activeIndex);
  selectResult();
}
function selectFirstResult() {
  activeIndex = 0;
}

function selectResult() {
  const value = inputElem.value;
  var autocompleteValue;
  try{
   var dv= countries[activeIndex]//.display_name;
   var autocompleteValue=dv.display_name;
  }
    catch (error) {
    console.error(error);
    // Expected output: ReferenceError: nonExistentFunction is not defined
    // (Note: the exact output may be browser-dependent)
  }

  
  const activeItem = this.getItemAt(activeIndex);
  if (activeItem) {
   activeItem.classList.add('selected');
   activeItem.setAttribute('aria-selected', 'true');
  }
  if (!value || !autocompleteValue) {
    return;
  }
  if (value !== autocompleteValue) {
    inputElem.value = autocompleteValue;
    inputElem.setSelectionRange(value.length, autocompleteValue.length);
  }
}
function selectItem(node) {
  if (node) {
    console.log("selectItem "+node);
    inputElem.value = node.innerText;
    hideResults();
  }
}

function hideResults() {
  this.resultsElem.innerHTML = "";
  this.resultsElem.classList.add("hidden");
}

function getItemAt(index) {
  return this.resultsElem.querySelector(`#autocomplete-result-${index}`)
}
</script>

<body>

<div class="container">
  <span style=" position: relative;">
    <input placeholder="Search for a country">
   
    <ul class="hidden" role='listbox'></ul>
  </span>

  
</div>

</body>
 <script>
	

	function createAutoComplete(inputElem)
	{
		
	}

	
	
init();
 </script>
 </body>
 </html>