<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Open Taxi</title>
		<link rel="icon" type="image/x-icon" href="./resources/images/favicon.ico">
	<link rel="icon" type="image/x-icon" href="./resources/sc/favicon.ico">
	
	<link rel="stylesheet" href="/resources/openlayers/ol-debug.css" type="text/css" />
	
	<script src="/resources/openlayers/ol-debug.js"></script>
	
	<script src="SignalMessage.js"                   th:src="@{/resources/openlayers/SignalMessage.js}" ></script>	
	<script src="webSocketClient.js"           th:src="@{/resources/openlayers/webSocketClient.js}" ></script>
	<script src="autoComplete.js"           th:src="@{/resources/openlayers/autoComplete.js}" ></script>
	
	<script src="routeControlTaxi.js"           th:src="@{/resources/openlayers/routeControlTaxi.js}" ></script>
	<script src="route.js"           th:src="@{/resources/openlayers/route.js}" ></script>
	<script src="utils.js"           th:src="@{/resources/openlayers/utils.js}" ></script>
	<script src="geoLocation.js"           th:src="@{/resources/openlayers/geoLocation.js}" ></script>
	<script src="superCookie.js"           th:src="@{/resources/openlayers/superCookie.js}" ></script>
	
	<script src="cookie.js"          th:src="@{/resources/openlayers/cookie.js}" ></script>
	<script src="RpcMain.js"  type="module" defer  th:src="@{/resources/openlayers/RpcMain.js}" ></script>
	
	<link rel="stylesheet" href="/resources/openlayers/bulma.css" type="text/css" />	
	
</head>
	
<script name="auto complete ">
	const log = console.log;

	const locationOrigin = location.origin;
	 log(locationOrigin);

	var url = new URL(location.origin);

	try {
		url = new URL(location.origin);
	} catch (error) {
		url = new URL("https://localhost:8443");
	}

	const hostname = url.hostname;

	function getLastGeoLocationEvent() {
		return lastGeoLocationEvent;
	}

	function getPointFromLongLat(long, lat) {
		return ol.proj.transform([long, lat], 'EPSG:4326', 'EPSG:3857')
	}

</script>


<div id="map" class="map"></div>


<script>
		
	//--------
	const vectorSource = new ol.source.Vector(); //!!!GLOBAL
	var map;
	function initMap (){
	
	
		
	const source = new ol.source.XYZ({url: 'https://' + hostname + ':8443/tile/{z}/{x}/{y}.png'});
	const tileLayer = new ol.layer.Tile({source: source});

	
	const vectorLayer = new ol.layer.Vector({source: vectorSource})

	const view = new ol.View({center: ol.proj.fromLonLat([27.953315566702816, 43.3520584446037]), zoom: 12})

	 map = new ol.Map({
		layers: [tileLayer, vectorLayer],
		controls: ol.control.defaults({
			attributionOptions: {collapsed: true}
		}).extend([new ol.control.ScaleLine()]),
		target: 'map',
		view: view,
	});

	
		
	
//	initGeo(); //depends of map
	
		
			
	}
	
	initMap ();
	
	
	class LoginControlOLD extends ol.control.Control {
		  /**
		   * @param {Object} [opt_options] Control options.
		   */
		  constructor(opt_options) {
		    const options = opt_options || {};

		    const button = document.createElement('button');
			button.setAttribute("id", "b1");
		    button.innerHTML ='@';// 'Login';
			////button.innerHTML ='<i class="fa fa-sign-out"></i>';// 'Loginout';
			//button.style.width="3.875em";
		    
			//button.style.backgroundColor ="#4CAF50";
			
			
			const element = document.createElement('span');
			element.setAttribute("id", "d1");
		    element.className = 'ol-unselectable ol-control';
			
			element.style.backgroundColor = " rgba(0,0,136,0.5)";
			element.style.backgroundColor ="#4CAF50";
			
			//const loginCont = document.getElementById('loginCont');
			
			element.style.top="0px";
			element.style.left=".5em";
		    element.appendChild(button);

		    super({
		      element: element,
		      target: options.target,
		    });

		    button.addEventListener('click', this.handleRotateNorth.bind(this), false);
		  }

		  //https://www.joshwcomeau.com/css/center-a-div/
		  setState(state) {

		  }
		  
		  handleRotateNorth(e) {
			
		
				callRPC("getAllConnectedUser","").then((result) => 
						{	
						RouteControl.render(result); 
					});
		
			
			
			var pos = map.getView().getCenter();  
			
			
			
			//loginOverlay.setPosition(pos);
			const button = document.getElementById("b1");
			//button.innerHTML = 'A';
			//const button=document.getElementById("di");
			button.parentNode.appendChild(loginCont);
		//	var innerHTML=button.innerHTML;
			
			if(innerHTML==='<i class="fa fa-sign-out"></i>')
				{
				//button.setAttribute("id", "b1");
				//TODO MAKE CALL
			    button.innerHTML = '<i class="fa fa-sign-in"></i>';
			 return;
				}
				
			
			
		    //this.getMap().getView().setRotation(0);
		  }
		}
		var lc = new LoginControlOLD();
		map.addControl(lc);
	
//-----------------------------------------------------------------------------

	</script>


</body>

</html>
