<!DOCTYPE html>

<htm xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<head>
</head>
  <body>
	
	<style>
		html,body {height: 100%;padding: 0;margin: 0;font-size: 12px; background: #c9c9ce;}
		#map {width: 100%;height: 100%;}
	</style>
	
	<script src="/resources/openlayers/ol-debug.js"></script>	
	<script src="utils.js"           th:src="@{/resources/openlayers/utils.js}" ></script>
	<div id="mapp" class="map"></div>
	
	<script>
	
		var url = new URL(location.origin);
		try {
				url = new URL(location.origin);
			} catch (error) {
				url = new URL("https://localhost:8443");
			}		
		
		const hostname = url.hostname;	
		
		function getProtocolSuffix()
			{
				
			//	var ret=url.protocol.replace("ttp"")
				//alert(protocol);
				return url.protocol.replace("http", "").replace(":","");
			}
		
		
		
		
		
		
		
		
		
		
		const vectorSource = new ol.source.Vector(); //!!!GLOBAL
		var map;
		
		
		const source = new ol.source.XYZ({url: 'http'+getProtocolSuffix()+'://' + hostname + ':8443/tile/{z}/{x}/{y}.png'});
		const tileLayer = new ol.layer.Tile({maxZoom: 14,source: source});

		const vectorLayer = new ol.layer.Vector({source: vectorSource})

		//const view = new ol.View({center: ol.proj.fromLonLat(<>[27.967072, 43.362630]), zoom: 13})
		const view = new ol.View({center: ol.proj.fromLonLat([27.947074, 43.222630]), zoom: 13})

		 map = new ol.Map({
			layers: [tileLayer, vectorLayer],
			controls: ol.control.defaults({
				attributionOptions: {collapsed: true}
			}).extend([new ol.control.ScaleLine()]),
			target: 'mapp',
			view: view,
		});
	</script>
	
 </body>

</html>
