/bulgaria-latest.osrm.nbg_nodes
/bulgaria-latest.osm.pbf
/bulgaria-latest.osrm
/bulgaria-latest.osrm.cell_metrics
/bulgaria-latest.osrm.cells
/bulgaria-latest.osrm.cnbg
/bulgaria-latest.osrm.cnbg_to_ebg
/bulgaria-latest.osrm.datasource_names
/bulgaria-latest.osrm.ebg
/bulgaria-latest.osrm.ebg_nodes
/bulgaria-latest.osrm.edges
/bulgaria-latest.osrm.enw
/bulgaria-latest.osrm.fileIndex
/bulgaria-latest.osrm.geometry
/bulgaria-latest.osrm.icd
/bulgaria-latest.osrm.maneuver_overrides
/bulgaria-latest.osrm.mldgr
/bulgaria-latest.osrm.names
/bulgaria-latest.osrm.partition
/bulgaria-latest.osrm.properties
/bulgaria-latest.osrm.ramIndex
/bulgaria-latest.osrm.restrictions
/bulgaria-latest.osrm.timestamp
/bulgaria-latest.osrm.tld
/bulgaria-latest.osrm.tls
/bulgaria-latest.osrm.turn_duration_penalties
/bulgaria-latest.osrm.turn_penalties_index
/bulgaria-latest.osrm.turn_weight_penalties
